In [91]:
import numpy as np
import pandas as pd

In [92]:
df = pd.read_csv("subm.csv")

In [93]:
df

                                         id  label
0    a6b59933-2b27-4184-8c3c-1e5818c57097_0      9
1    248a312c-cbc3-4416-b558-db368f71cc79_5      8
2    4d9375d5-2adf-4051-b7f5-10cf5b0f70c0_0      7
3    2d974513-0efa-408e-a8f8-7d684843be34_0      0
4    a08ec064-5ae0-4358-8f38-6514e1db6a78_0     15
..                                      ...    ...
648  3dca22e8-271d-47ef-8a24-5fcba53b2332_0     10
649  5d1525e9-2960-427f-a919-0faa7d48e722_0     12
650  85b9d7d6-714d-4b23-a065-75c749682bcc_0     16
651  bb7792d0-8256-4536-8f65-841614a92340_0     13
652  61351de3-be14-4836-8670-711fbbd79392_0     15

[653 rows x 2 columns]

In [94]:
dict = {}

for i, row in df[["id", "label"]].iterrows():
    names = row["id"].split("_")
    name = names[0]
    index = int(names[1])
    value = int(row["label"])
    a = [name, None, None, None, None, None]
    
    if not (name in dict):
        dict[name] = []
    b = {index: value}
    dict[name].append(b)
    #a[name] = []

    #print(a)
    #df2[name]
    #df2
    #df2.loc[len(df2.index)] = a
    #print(row["id"], row["label"])

In [95]:
for name in dict:
    if len(dict[name]) == 2 and list(dict[name][0].values())[0] != list(dict[name][1].values())[0]:
        print(name, list(dict[name]))

In [96]:
#df = pd.DataFrame()

In [97]:
df = pd.read_csv("subm_base.csv")

In [ ]:
df

                                       id  label
0    29830d60-9e87-46da-8985-4b38e6ad3d3b     14
1    cc5f5ff5-6448-421a-a456-4dc7563703d2     13
2    285aec8d-5e99-4454-811f-601ffa213f4b     11
3    cebd531a-9697-42ca-a814-2f300132cbea     12
4    b45580ff-281f-471f-acc6-09611c024753      9
..                                    ...    ...
844  1fee4466-3931-47f4-bdaf-4304edab22aa     10
845  b80535cd-e94f-4732-a7d9-93f3a1723711     10
846  7743eb1e-9b48-4bc2-8535-fcabcaf88558      4
847  2ab4b256-4efd-41b6-9a3d-15cd86f4db84      4
848  45622d35-caf3-4a9c-ad34-8edd0d20f56e     13

[849 rows x 2 columns]

In [99]:
for name in dict:
    index = df.loc[df['id'].isin([name])].index.values[0]
    value = list(dict[name][0].values())[0]
    if (df.at[index, "label"] != value):
        print(name)
        print(df.at[index, "label"], value)
        print()
    df.at[index, "label"] = value
    #print(df.at[index, "label"])
    
    #print(name, df.at[index, "label"])
    #print(df.loc[df['id'].isin([name])].index.values[0])

60106c11-ca45-456b-b50d-29ff79967de4
10 17

7d0b430d-9a4d-4c7e-95e0-ec00b67b35c6
16 8

ddced346-e48b-4e1c-9d80-5edd7c220b8d
8 14

f0109162-43c0-4ee9-97be-be5beff1b2d6
5 1

30a076cc-0cf4-4fa0-bbef-2eb0c291526c
1 17

6dd2982f-ccd8-4454-845e-7b4107a31257
0 13

f8413f22-5621-43a3-a2fe-e2d42464869d
10 15

d3a49778-966d-4992-a115-869656773178
13 0

f343a45f-056c-43b5-9780-c8199500df1c
4 10

358033fe-f795-4af9-9a51-8acc9cf915f6
2 10

1e9c0575-9561-4dda-85c0-489f2cddb4f3
10 8

cfff354a-81f6-475f-bf70-02e067324506
1 7

6d2256de-424f-44a7-9a61-60c66172cc10
4 16

27eb987a-3c33-41a2-8057-cbbfb92cec6c
1 12

d45901cb-0c59-4de8-af5c-6cd546ae94c1
9 16

a7fc1cfd-364a-4e34-b830-e17db508cef2
0 4

b806cfaa-e655-4700-b14b-98329f17b4ad
0 9

301e19f1-2358-4e68-848c-ed13a1bf4e4a
8 1

44f8f698-66fe-43d9-9cfb-464c6a9ae5c1
10 17

1656ca31-c158-48b2-acc1-6b657ee62d74
9 16

57b5d775-4b0c-47cd-9997-fb2644a470d4
12 6

32e71162-f7f8-4df9-9527-3c0a21f4be06
5 12

2a15b61e-84a7-45f3-bb67-763a4b2cba7a
4 13

398dff5f-4842-4514-84fa-86cc9251738a
0 9

db4ca66e-575f-4d6c-9099-2f8277319e90
0 9

e52cbde0-01bc-4aa1-be4d-4dc82851c569
13 10

In [100]:
df.to_csv("subm_final2.csv",index=False)